wp-admin/*
wp-includes/*
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-content/ai1wm-backups/
wp-content/backups-dup-lite/
wp-content/index.php
wp-content/languages/
wp-content/plugins/
wp-content/themes/index.php
wp-content/themes/twentyseventeen/
wp-content/themes/twentytwentyone/
wp-content/themes/twentytwentythree/
wp-content/themes/twentytwentytwo/
wp-content/uploads/
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php