.du-an {
    .du-an-head {
        padding: 60px 20px 0;

        .content {
            max-width: 700px;
            width: 100%;
            margin: 0 auto;

            h3 {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 120%;
                display: flex;
                align-items: center;
                text-align: center;
                color: #141518;
                margin-bottom: 17px;

                @media (max-width:767px) {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 130%;
                    margin-bottom: 12px;
                }
            }

            p {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 160%;
                text-align: center;
                letter-spacing: 0.01em;
                color: #434449;
            }
        }
    }

    .filter-post-section {
        background-color: #F6F8FC;

        .filter-post-container {
            .small-form-filter {

                .form {
                    flex-wrap: nowrap;

                    .form-filter-search,
                    .form-filter-type,
                    .form-filter-area,
                    .form-filter-company {
                        max-height: 48px;
                    }

                    @media (max-width:1133px) {

                        .form-filter-type,
                        .form-filter-area,
                        .form-filter-company {
                            max-width: 128px;
                        }
                    }

                    @media (max-width:1024px) {

                        flex-wrap: wrap;
                        margin-right: -15px;

                        .form-filter-search,
                        .form-filter-type,
                        .form-filter-area,
                        .form-filter-company {
                            max-width: 47.68%;
                        }

                        .button-submit,
                        .button-reset {
                            width: fit-content;
                        }
                    }

                    @media (max-width:767px) {
                        margin-right: 0;

                        .form-filter-search,
                        .form-filter-type,
                        .form-filter-area,
                        .form-filter-company {
                            margin-right: 0;
                            max-width: 100%;
                        }
                    }
                }
            }

            .filter-content {
                margin-top: 50px;
                justify-content: start;
                gap: 30px;

                .filter-item {
                    .item-content {
                        padding: 26px 24px 60px 21px;

                        .content-title.icon {
                            margin-top: -18px;
                            margin-right: -6px;
                        }

                        .icon_svg {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            margin-top: 2px;
                        }

                        .filter-company,
                        .content-time {
                            margin-bottom: 9px;

                        }

                        .filter-company,
                        .content-time,
                        .content-location {
                            align-items: start;
                        }
                    }
                }
            }
        }
    }

    &:not(.cac-nha-may-thuy-dien) {

        .filter-post-section .filter-post-container .small-form-filter .form .form-filter-search,
        .filter-post-section .filter-post-container .small-form-filter .form .form-filter-type,
        .filter-post-section .filter-post-container .small-form-filter .form .form-filter-area,
        .filter-post-section .filter-post-container .small-form-filter .form .form-filter-company {
            width: calc(20% - 21.8px);
        }
    }
}

.filter-content {
    .filter-item {
        position: relative;

        &::after {
            content: '';
            width: 0;
            height: 2px;
            background: #DAA622;
            transition: all 1s ease-in;
            display: block;
            position: absolute;
            bottom: 0;
        }

        &:hover::after {
            display: block;
            width: 100%;
            transition: all 1s ease-in;
        }
    }
}

.iw-content-box {
    padding: 30px;

    .iw-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .title {
        align-items: center;
        gap: 10px;

    }

    .droplets {
        box-shadow: 0px 5px 20px -10px rgba(43, 24, 8, 0.15);
    }

    .location-info-row {
        align-items: center;
        gap: 8px;
    }

    h6 {
        margin-bottom: 0;
    }
}

.map-section {
    position: relative;

}

.map-btn {
    position: absolute;
    top: 73px;
    left: 26px;
}

.map-btn:hover {
    cursor: pointer;
}

/* map luoi dien  */
.wrap_map-luoi-dien .map-luoi-dien {
    padding-bottom: 0px;
    position: relative;
}

.wrap_map-luoi-dien .title {
    width: 100%;
    text-align: center;
    margin-top: 77px;
    margin-bottom: 35px;
}

.wrap_step {
    margin-top: 20px;
    margin-bottom: 50px;
    width: fit-content;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #00000012;
    position: relative;
}

.panzoom-controls {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

.panzoom-control {
    padding: 4px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.panzoom-controls:hover {
    cursor: pointer;
}

.panzoom-control button {
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s ease-out, background-color 0.1s ease-out;
    height: 40px;
    width: 40px;
    font-size: 15px;
}

.goto-container {
    position: absolute;
    right: 10%;
    top: 5%;
}

.goto-container .goto.default {
    display: none;
}

.goto-container .goto {
    display: flex;
    align-items: center;
    z-index: 2;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
}

.goto-container .goto.deactive {
    color: #DAA622;
}

.goto-container .goto:hover {
    cursor: pointer;
    color: #DAA622;
}

.goto-container span.icon {
    width: 56px;
    margin-right: 21px;
    display: flex;
    justify-content: center;
}

.goto-container .wrap-line .goto {
    margin-bottom: 7px;
}

.goto-container .wrap-box {
    margin-top: 30px;
    position: relative;
    padding: 20px 0 10px;
}

.goto-container .wrap-box .goto {
    margin-bottom: 10px;
}

.goto-container .wrap-box::after {
    content: '';
    width: 56px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: 1px dashed #9747FF;
    border-radius: 5px;
    display: block;
    z-index: -1;
}

.goto-container span.line {
    width: 56px;
    height: 2px;
    display: block;
}

.goto-container span.box {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
}

.goto-container span.line.line-500,
.goto-container span.box-500 {
    background-color: #53B535;
}

.goto-container span.line.line-220,
.goto-container span.box-220 {
    background-color: #EA3323;
}

.goto-container span.line.line-110,
.goto-container span.box-110 {
    background-color: #265BB2;
}

.step-container {
    position: relative;
    height: 100vh;
    width: 800px;
    height: 1000px;
    overflow: hidden;
}

img {
    width: 100%;
    height: -webkit-fill-available;
}

.step-container .step {
    height: auto;
    position: absolute;
    color: #fff;
    display: block;
}

.step-container .step.deactive {
    display: none;
}

@media(max-width:991px) {
    .wrap_step {
        margin: 0 auto;
    }

    .goto-container {
        position: relative;
        right: unset;
        left: 10%;
        top: 0;
        width: fit-content;
    }

    .step-container .step {
        width: fit-content;
    }
}




// end map luoi dien 
.location-info-row p {
    margin-bottom: 0;
}

.iw-content .title h6 {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #141518;
}

.iw-content .title .droplets {
    border-radius: 50%;
    padding-top: 4px;
    width: 45px;
    box-shadow: 0px 0px 5px 0px #3333;
    height: 45px;
}

.btn.btn-detail {
    padding-top: 14px;
}

.gm-ui-hover-effect {
    top: 0 !important;
    right: 0 !important;
}

/* popup map */
.popup-data.active .map-btn {
    display: none;
}

.popup-modal {
    display: none;
    position: absolute;
    z-index: 9;
    top: 100px;
    height: calc(100% - 130px);
    left: 25px;
    background: #fff;
    padding: 20px 30px;
    min-width: 386px;
    overflow-y: scroll;
}

.popup-modal::-webkit-scrollbar {
    width: 1px;
}

.popup-modal.active {
    display: block;
}

.popup-modal .head .icon-close {
    display: flex;
    align-items: center;
    margin-left: 13px;
}

.popup-modal .head .icon-close:hover {
    cursor: pointer;
}

.popup-modal .content .item {
    margin-top: 20px;
}

.popup-modal .content .item .headding {
    padding-bottom: 8px;
    border-bottom: 2px solid #DAA622;
    align-items: center;
    position: relative;
}

.popup-modal .content .item .headding:hover {
    cursor: pointer;
}

.popup-modal .content .item .headding .icon {
    width: 24px;
    height: 24px;
    align-items: center;
    border: 1px solid #D1D5DB;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 3px;
}

.popup-modal .content .item .headding .icon svg {
    max-width: 14px;
    max-height: 14px;
}

.popup-modal .content .item .headding .title {
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #141518;
    margin-bottom: 0;
    margin-left: 8px;
}

.popup-modal .content .item .headding .dropdown-icon {
    position: absolute;
    right: 0;
    transform: rotate(180deg);
}

.popup-modal .content .item.active .headding .dropdown-icon {
    transform: rotate(0deg);
}

.popup-modal .content .item .info {
    list-style-type: disc;
    display: none;
}

.popup-modal .content .item.active .info {
    display: block;
}


.popup-modal .content .item .info ul {
    max-height: 130px;
    overflow: hidden;
    list-style-type: disc;
    padding-left: 25px;
}

.popup-modal .content .item.active .info.other_info ul {
    max-height: unset;
    overflow-y: scroll;
    padding-left: 25px;
}

.popup-modal .content .item .info.other_info ul::-webkit-scrollbar {
    width: 1px;
}

.popup-modal .content .item .info.other_info .other_project {
    display: none;
}



.popup-modal .content .item .info li {
    margin-top: 16px;
    font-family: 'Public Sans';
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    list-style-type: disc;
    color: #141518;
}

.popup-modal .content .item .info .other_project {
    margin-top: 10px;
    display: flex;
    column-gap: 4px;
}

.popup-modal .content .item .info .other_project .title {
    color: #DAA622;
}

.popup-modal .content .item .info .other_project:hover {
    cursor: pointer;
}