.register {
    .register-box {
        display: flex;

        .message-disable {
            display: none;
        }

        .form-box {
            width: 55.5%;
            padding: 65px 60px 0 60px;

            .title {
                margin-bottom: 33px;
                margin-top: 18px;

                h2 {
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 1.15em;
                    text-transform: capitalize;
                    font-family: 'Manrope';
                }
            }

            .languages {
                margin-top: 28px;
                position: relative;
                padding: 0 0 30px;

                .switcher {
                    width: 133px;

                    &>.selected {
                        background: unset;
                        position: absolute;
                        border: 1px solid #D1D5DB;
                        top: 0;
                    }

                    a {
                        border: unset;
                        font-family: 'Public Sans';
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 150%;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                        color: #000;
                        padding: 8px 5px 6px;

                        &::after {
                            top: 0;
                            height: 100%;
                        }

                        img {
                            max-width: 20px;
                            margin-right: 8px;
                            margin-top: -4px;
                        }

                        &:hover {
                            background: unset;
                        }
                    }
                }
            }

            div.option {
                position: absolute;
                top: 30px;
                border: unset;
                padding: 6px 0;

                a {
                    background: transparent;
                    padding: 5px;
                    font-family: 'Public Sans';
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 150%;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    color: #000;

                    img {
                        max-width: 20px;
                        margin-right: 8px;
                    }

                    &:hover {
                        background: unset;
                    }
                }
            }
        }

        .login-logo-box {
            a {
                margin: 0;
            }

            .login-logo {
                width: 50px;
            }
        }

        form {
            padding: 0;
            background: unset;
            border: none;
            box-shadow: none;

            label {
                display: block;
            }

            label {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.6;
                letter-spacing: 0.01em;
                color: #434449;
                margin-bottom: 4px;
            }

            input {
                display: block;
                width: 100% !important;
                margin-bottom: 25px;
                font-size: 18px;
                line-height: 1.6 !important;
                padding: 13px;
                font-weight: 400;
                letter-spacing: 0.01em;
                color: #7E8189;
                position: relative;
                outline: unset;
                border: 1px solid #D1D5DB;
                border-radius: 2px;

                &:focus {
                    border: 1px solid #D1D5DB;
                    box-shadow: none;
                }
            }

            div.password {
                position: relative;

                svg {
                    position: absolute;
                    top: calc(100%/2 + 3px);
                    right: 10px;
                }
            }

            div.confirm-password {
                position: relative;

                svg {
                    position: absolute;
                    top: calc(100%/2 + 3px);
                    right: 10px;
                }
            }

            .forget-password {
                a {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 160%;
                    letter-spacing: 0.01em;
                    color: #134FA5 !important;

                    &:hover {

                        color: #DAA622 !important;
                    }
                }

                p#nav {
                    margin: -13px 0 31px;
                    padding: 0;
                }
            }


            div.submit {
                margin-top: 32px;

                .register-btn {
                    width: 100% !important;
                    outline: none;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.4;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    border: unset;

                    &:hover {
                        border: 1px solid #DAA622;
                        color: #DAA622;
                    }
                }
            }

            .require {
                color: #DD2027;
            }
        }

        .register-member {
            margin: 12px 0;
            text-align: center;

            span,
            a {
                font-size: 18px;
                line-height: 160%;
                letter-spacing: 0.01em;
            }

            span {
                color: #434449;
            }

            a {
                color: #134FA5;

                &:hover {
                    color: #DAA622;
                }
            }
        }

        .old-member {
            text-align: center;
            margin-top: 33px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: 0.01em;
            color: #434449;

            a {
                color: #134FA5;
                font-weight: 500;
            }
        }
    }

    .image {
        max-width: 44.5%;
        flex: 1;

        img {
            width: 100%;
            height: 100vh;
        }
    }
}

.login {
    .register .register-box .form-box .title h2 {
        text-transform: lowercase;
    }

    #language-switcher {
        display: flex;
        padding: 4px 0px;
        width: 148px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid #D1D5DB;
        border-radius: 2px;
        overflow: hidden;
        position: relative;

        .icon {
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            left: 4px;
        }

        input {
            margin-bottom: 0px;
        }

        select {
            border: 0px;
            width: 100%;
            padding: 0 30px;
            min-height: 0;
            font-weight: 500;
            line-height: 160%;
            letter-spacing: 0.01em;

            &:focus {
                color: #434449;
                box-shadow: none;
            }
        }

        .btn-change-language {
            display: none;
        }
    }

    #loginform {
        .wp-hide-pw {
            width: 3.5rem;
            height: 3.5rem;

            &>.dashicons {
                font-size: 25px;
            }

            &:focus {
                border: none;
                box-shadow: none;
            }
        }

        .submit button {
            border-color: #DAA622;
            border: 1px solid #DAA622;

            &:hover {
                cursor: pointer;
                border-color: #DAA622;
                border: 1px solid #DAA622;
                color: #DAA622;
            }
        }
    }


    .login-page {
        form {
            margin-top: 28px;
        }

        h1 a {
            margin: 0;
            background-image: url(../images/logged-in-logo.jpg);
            width: 49px;
            height: 67px;
            background-size: contain;

            .language-switcher #language-switcher {
                display: flex;
            }
        }
    }
}


@media (max-width: 1440px) {
    .register {
        .register-box {
            justify-content: space-between;

            .form-box {
                padding: 65px 94px 0 165px;
            }

            form {
                div.password {
                    position: relative;
                }
            }

            .image {
                max-width: 640px;

                img {}
            }
        }
    }
}

@media (max-width: 1360px) {
    .register {
        .register-box {
            .form-box {
                padding: 65px 64px 0 64px;
            }
        }
    }
}

@media (max-width: 880px) {
    .login {
        #language-switcher {
            background: transparent;
            padding: 0 8px 0 8px;

            svg * {
                stroke: #fff;
            }
        }

        .register .register-box .form-box .register-member span {
            color: #fff;
        }

    }

    .register {
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.6;
            top: 0;
        }

        .register-box {
            .form-box {
                width: 100%;
                max-width: 500px !important;
                padding: 65px 20px 0 20px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 9;

                .title {
                    h2 {
                        color: #Fff;
                        font-size: 36px;
                    }
                }

                .languages {
                    border-color: #fff;

                    svg {
                        fill: #Fff;
                    }

                    &::after {
                        content: "";
                        border-color: #fff;
                    }
                }

                select {
                    background: transparent;
                    color: #fff;

                    option {}
                }
            }

            form {
                label {
                    color: #fff !important;
                }

                input {
                    background: transparent;
                    color: #fff !important;
                    border-color: #fff !important;

                    &::placeholder {
                        color: #fff !important;
                    }
                }

                div.password {
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }

                div.confirm-password {
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }

            .old-member {
                span {
                    color: #fff;
                }
            }

            .image {
                max-width: 100%;

                img {
                    object-fit: cover;
                }
            }
        }
    }
}