.admin-bar {
  .header {
    top: 32px;

  }

  header .search,
  .menu-main-container.is-active {
    top: 137px;

    @media(max-width:1024px) {
      top: 94px;
    }
  }
}

.header {
  .container {
    max-width: 1320px;
  }

  .top-header {
    height: 42px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0D0D0E;

    ul li {
      .nav-link {
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
      }

      &:hover .nav-link {
        color: #DAA622;
      }
    }

    .nav-right {
      // margin-right: 5px;
      padding-left: 50px;
      align-items: center;

      .nav-login {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;

        svg {
          width: 16px;
          height: 16px;
        }

        .nav-link {
          padding: 0;
          letter-spacing: 0.04em;

          &:hover {
            color: #DAA622;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .nav-login,
    .nav-login a {
      margin-right: 6px;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      color: #fff;
    }

    .is_login {
      position: absolute;
      top: 25px;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s all;
      left: 0px;
      padding: 8px 4px 12px;
      z-index: 1;
      transform: translateY(-60%);
      width: max-content;

      &.active {
        visibility: visible;
        opacity: 1;
        background: #0D0D0E;
        transform: translateY(0%);
        transition: 0.5s all;
      }

      .logout {
        display: flex;

        svg {
          width: 13px;
          height: 13px;
        }

        a {
          margin-top: 2px;
        }
      }
    }

    .nav-login svg,
    .navigator {
      margin-right: 6px;
    }

    .nav-signup a {
      padding: 0;
      letter-spacing: 0.04em;
    }

    .nav-language {
      margin-left: 33.3px;

      .languages {
        .switcher {
          width: 133px;

          &>.selected {
            background: unset;
            position: absolute;
            border: unset;
            top: 8px;
            width: 140px;

            a {
              border: unset;
              font-family: 'Public Sans';
              font-weight: 400;
              font-size: 11px;
              line-height: 150%;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #FFFFFF;

              &::after {
                top: 0;
              }

              img {
                max-width: 20px;
                margin-right: 8px;
              }

              &:hover {
                background: unset;
              }
            }
          }
        }

        div.option {
          background: #0D0D0E;
          position: absolute;
          top: 30px;
          border: unset;
          padding: 6px 0;
          width: 130px;

          a {
            background: #0D0D0E;
            padding: 5px;
            font-family: 'Public Sans';
            font-weight: 400;
            font-size: 11px;
            line-height: 150%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;

            img {
              max-width: 20px;
              margin-right: 8px;
            }

            &:hover {
              background: unset;
            }

            &.selected {
              background-color: #0D0D0E;
              color: #fff;
            }
          }
        }
      }
    }

    .nav-item {
      display: flex;
      align-items: center;
    }

    .nav-item+.nav-item {
      margin-left: 32px;
    }
  }

  .nav-item .nav-link {
    padding: 0;
    letter-spacing: 0.04em
  }
}

/* header bottom */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 105px;
  z-index: 99;

  .bottom-header {
    .navbar {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      height: 64px;
      display: flex;
      justify-content: right;
      padding: 0 60px;

      .logo {
        .img-logo {
          max-width: 57.37px;
          max-height: 64px;
        }
      }

      &.nav-is-active {
        background: #fff;
        border-bottom: 1px solid #D1D5DB;

        .nav-list .nav-item .nav-item-link,
        #mega-menu-wrap-primary_menu #mega-menu-primary_menu .mega-menu-item .nav-item-link {
          color: #000;
        }

        .nav-item-icon-search ellipse,
        .nav-item-icon-search path {
          stroke: #2B3F6C;
        }

        .burger-line {
          background: #2B3F6C !important;
        }
      }

      #mega-menu-wrap-primary_menu {
        background: unset;

        .nav-list,
        #mega-menu-primary_menu {
          padding: 0;
          margin: 0;
          justify-content: right;
          height: 64px;
          display: flex;
          list-style-type: none;

          .nav-item,
          .mega-menu-item {

            &.mega-current-menu-parent>.nav-item-link:first-child::after,
            &.mega-current_page_parent>.nav-item-link:first-child::after,
            &.mega-current-menu-item>.nav-item-link:first-child::after {
              width: 40px;
            }

            padding: 22px 24px;

            &:last-child {
              padding-right: 0;
            }

            &.nav-item-icon-search {
              margin-right: 15px;
              padding: 24px 20px 28px 28px;

              &:hover {
                cursor: pointer;
              }
            }

            .nav-item-link {
              color: #FFFFFF;
              font-family: 'Public Sans';
              font-style: normal;
              font-weight: 300;
              text-decoration: none;
              font-size: 14px;
              line-height: 1.4;
              align-items: center;
              text-align: center;
              letter-spacing: 0.04em;
              text-transform: uppercase;

              &::after {
                content: '';
                width: 0;
                display: block;
                height: 2px;
                background-color: #DAA622;
                margin: 0 auto;
                transition: width 0.5s;
              }

              &:hover {
                color: #DAA622;

                &::after {
                  content: '';
                  width: 40px;
                  transition: width 0.5s;
                }

              }
            }

            &.nav-item-icon-search .fa-search {
              color: #fff;
            }

            .burger {
              position: relative;
              display: block;
              cursor: pointer;
              user-select: none;
              z-index: 12;
              width: 18px;
              height: 1rem;
              margin-right: 0.2rem;
              border: none;
              margin-top: 3px;
              outline: none;
              background: none;
              visibility: visible;
              transform: rotate(0deg);
              transition: 0.35s ease;

              .burger-line {
                position: absolute;
                display: block;
                right: 0;
                width: 100%;
                height: 2px;
                border: none;
                outline: none;
                opacity: 1;
                transform: rotate(0deg);
                background-color: #ffffff;
                transition: 0.25s ease-in-out;

                &:nth-child(1) {
                  top: 0px;
                }

                &:nth-child(2) {
                  top: 0.4rem;
                }

                &:nth-child(3) {
                  top: 0.8rem;
                }
              }

              &.is-active {
                .burger-line:nth-child(1) {
                  top: 0.4rem;
                  transform: rotate(135deg);
                }

                .burger-line:nth-child(2) {
                  right: -1.5rem;
                  opacity: 0;
                  visibility: hidden;
                }

                .burger-line:nth-child(3) {
                  top: 0.4rem;
                  transform: rotate(-135deg);
                }
              }
            }
          }


        }
      }

    }
  }

}

.menu-main-container.is-active {
  left: 0;

  .container {
    max-width: 1440px;



    .main-menu-primary.is-active {
      animation: moveDown 1s;
    }

    .sub-menu.is-active {

      animation: moveDown 1s;

    }
  }

}

.menu-main-container {
  position: fixed;
  top: 105px;
  left: -100%;
  z-index: 10;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 1px 7px 0px #00000021 inset;

  // transition: all 0.4s ease-in-out;
  .menu {
    padding: 0 60px;
    height: calc(100vh - 137px);
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::after {
      content: '';
      width: 1px;
      height: 100%;
      background-color: #000000;
      opacity: 0.1;
      position: absolute;
      right: 0;
      top: 0;
    }

    .row {
      justify-content: space-between;
      height: 90vh;


    }

    li {
      align-items: center;
      padding: 11px 12px;
      min-height: 42px;
      border-radius: 2px;
      margin-bottom: 10px;

      a {
        font-family: 'Public Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #141518;
        text-decoration: none;
      }

      &.is-active {
        background: #F6F8FC;
      }

      &:hover {
        background: #F6F8FC;
      }
    }

    .main-menu-primary {
      margin-top: 17px;

      .main-menu-primary-lists {
        padding: 0;

        .main-menu-primary-item {
          a {
            text-transform: uppercase;
          }
        }
      }

      #other-menu {
        .menu-item {
          width: 15%;
          text-transform: uppercase;
          color: #0D0D0E;
          letter-spacing: 0.01em;
          min-width: 185px;

          .menu-image-title-after.menu-image-title {
            padding-left: 0;
          }

          &.active .menu-image,
          &.active-default .menu-image {
            display: block;
          }

          .menu-image {
            position: absolute;
            right: 15px;
            top: 57px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            object-fit: contain;
            max-width: 433px;
            max-height: 540px;
            animation: moveUp 1s;
            display: none;

            &::before {
              content: '';
              border-left: 1px solid #D1D5DB;
              display: block;

            }
          }

          &.active,
          &.active-default {
            background: #F6F8FC;

            .sub-menu {
              display: block;
            }
          }

          &>.sub-menu {
            position: absolute;
            right: 20px;
            top: 18px;
            display: none;
            width: 77%;

            &.active {
              display: block;
            }

            .head_sub_menu {
              padding: 0 12px;

              .title {
                margin-bottom: 10px;
              }
            }

            .menu-item {
              text-transform: none;

              &:hover {
                background-color: unset;

                a {
                  color: #000;

                  &:hover {
                    color: #DAA622;
                  }
                }
              }
            }

            .menu-item {
              max-width: 476px;
              width: 100%;

              &.menu-item-has-children {
                height: auto;
                position: relative;

                &::after {
                  content: '';
                  border: solid #434449;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 4px;
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  position: absolute;
                  top: 14px;
                  right: 14px;
                }

                &.is_active {
                  .sub-menu {
                    display: block;
                    animation: unset;
                  }

                  &::after {
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                  }
                }

                a:hover {
                  color: #000;
                }

                .sub-menu {
                  position: relative;
                  display: none;
                  width: 100%;
                  right: 0;
                }
              }

              &.description {
                padding: 0 12px;
                color: #434449;
                line-height: 160%;
                letter-spacing: 0.1em;
                margin-bottom: 30px;

                &:hover a {
                  color: #434449;
                  cursor: auto;
                }
              }
            }
          }
        }
      }
    }

    .sub-menu {
      margin-top: 13px;

      .sub-menu-lists {
        padding: 0;
      }
    }


  }

}

@keyframes moveUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

header {

  .search {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99;
    top: 105px;
    display: none;
    padding: 0 49px;
    box-shadow: 0px 1px 7px 0px #00000021 inset;

    &.is-active {
      display: block;
    }

    .search-bar {
      max-width: 1110px;
      margin: auto;
      margin-top: 155px;

      form {
        position: relative;
      }

      .search-input {
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.6;
        padding: 15px 0;
        padding-left: 44px;
        letter-spacing: 0.01em;
        width: 90%;
        font-family: var(--primary-font);
      }

      .btn-submit-icon {
        border: unset;
        background-color: unset;
        outline: none;
        position: absolute;
        width: 100%;
        max-width: 44px;
        text-align: left;
        height: 100%;

        &:hover {
          cursor: pointer;
        }
      }

      .error-message.d-none {
        opacity: 0;
        transition: all 1s;
      }

      .error-message {
        position: absolute;
        top: -15px;
        left: 45px;
        color: red;
        opacity: 1;
        transition: all 1s;
      }

      &::after {
        content: "";
        width: 0px;
        display: block;
        height: 2px;
        transition: all .5s ease;
      }

      &:hover {
        &::after {
          width: 100%;
          background-color: #0D0D0E;
          transition: all .5s ease;
        }
      }
    }
  }
}

.header .bottom-header .navbar .nav-list .nav-item,
.header .bottom-header .navbar #mega-menu-wrap-primary_menu #mega-menu-primary_menu .mega-menu-item {

  &.active .mega-sub-menu {
    opacity: 1;
    visibility: visible;
  }

  .mega-sub-menu {
    width: max-content;
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    top: 54px;
    left: 0;
    padding: 12px 0;

    .mega-menu-item {
      padding: 12px 24px;

      .nav-item-link {
        display: block;
        width: fit-content;
      }
    }
  }


}

.header .bottom-header .navbar #mega-menu-wrap-primary_menu #mega-menu-primary_menu .nav-item {
  &.nav-item-icon-search.is-active {
    svg {
      display: none;
    }

    .close-button.is-active {
      display: block;
    }
  }

  .close-button {
    display: none;
  }

  .search-close {
    display: none;
  }
}

@media(max-width:1360px) {
  .menu-main-container .menu .main-menu-primary #other-menu .menu-item .menu-image {
    max-width: 325px;
    max-height: 507px;
    top: 6px;
  }

  .menu-main-container .menu .main-menu-primary #other-menu .menu-item>.sub-menu {
    width: 75%;

    .menu-item {
      max-width: 348px;
    }
  }

}

@media(max-width:1100px) {
  .header .bottom-header .navbar #mega-menu-wrap-primary_menu #mega-menu-primary_menu .mega-menu-item {
    padding: 24px 20px;
  }
}

@media(max-width:1024px) {
  .menu-main-container .menu .main-menu-primary #other-menu .menu-item>.sub-menu .menu-item {
    max-width: 100%;
  }

  header {
    .header {
      .logo {
        left: 20px;

        .img-logo {
          max-width: 47px;
        }
      }

      .bottom-header {
        .navbar {
          padding: 0 6px 0 20px;

          .nav-list .nav-item {
            padding: 16px 10px;
          }

          .nav-list,
          .mega-menu {
            height: 50px;

            .nav-item.nav-item-icon-search {
              padding: 14px 10px;
              margin-right: 22px;
            }
          }
        }

        #mega-menu-wrap-primary_menu {
          .mega-menu-toggle {
            display: none;
          }

          .mega-menu-toggle+#mega-menu-primary_menu {
            background: unset;
          }
        }
      }

      .top-header {
        display: none;
      }

      .bottom-header .navbar .nav-list .nav-item:nth-last-of-type(n + 3) {
        display: none;
      }
    }

    #mega-menu-wrap-primary_menu #mega-menu-primary_menu>li.mega-menu-item {
      display: none;
    }

    .menu-main-container {
      top: 53px;
      overflow: scroll;
      height: 100vh;

      &::-webkit-scrollbar {
        width: 0;
      }

      .menu {
        padding: 0;

        .row {
          height: auto;

          .main-menu-primary #other-menu {
            width: 40%;

            .menu-item {
              width: 100%;
            }

            .menu-item.active .menu-image,
            .menu-item.active-default .menu-image {
              display: none;
            }

            .menu-item>.sub-menu {
              width: 55%;

              .menu-item {
                max-width: 100%;
              }
            }
          }

        }
      }
    }

    .search {
      top: 60px;
    }
  }
}

@media (max-width:767px) {

  header .menu-main-container .menu .row .main-menu-primary #other-menu {
    width: 100%;

    .menu-item {
      border-bottom: 1px solid #0d0d0e1a;
      padding: 11px 20px;

      &.menu-item-has-children {
        height: auto;

        position: relative;

        .head_sub_menu {
          display: none;
        }

        &.active-default {
          &.active {
            .sub-menu {
              display: block;
            }
          }

          .sub-menu {
            display: none;
          }
        }

        &>.sub-menu {
          position: relative;
          width: 100%;
          right: 0;

          &.is-active {
            animation: unset;
          }

          .menu-item {
            max-width: 100%;

            .sub-menu .menu-item {
              border: unset;

              &:last-child {
                border-bottom: 1px solid #0d0d0e1a;
              }
            }

          }

          .menu-item-has-children {
            &::after {
              right: 0px;
            }
          }
        }

        &::after {
          content: '';
          border: solid #434449;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 4px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          position: absolute;
          top: 14px;
          right: 20px;
        }

        &.active {
          background: unset;

          &::after {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }
        }
      }

      &.description {
        display: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}