.terms-and-time {
    display: flex;
    justify-content: space-between;

    span {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #7E8189 !important;
    }
}

.represent-post-content {
    margin-bottom: 18px;
}

.comment-form {
    position: relative;
}

section.article .article-container article .comment-form-comment {
    margin: 0;
    margin-top: 20px;

    textarea#comment {
        width: 100%;
        padding: 11px 16px;
        min-height: 92px;
    }

}

#commentform {
    .form-submit {
        margin-top: 0;
        text-align: right;
        display: inline-block;
        position: absolute;
        right: 0;
        top: calc(100% + 12px);

        .submit {
            padding: 14px 32px;
            width: 92px;
            height: 48px;
            background: #DAA622;
            border-radius: 2px;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            outline: none;
            border: navajowhite;
        }
    }
}

.current-user {
    position: absolute;
    left: 0;
    top: calc(100% + 12px);
    display: flex;
    align-items: center;
    gap: 12px;
}

.g-recaptcha.brochure__form__captcha {
    position: absolute;
    right: 110px;
}


// filter 
.shareholders-relations section.shareholder-info .container .shareholder-content .search-bar.form-filter {
    gap: 16px;

    .item-filter,
    .item.form-filter-date,
    .filter-item {
        max-width: 25% !important;
        width: 100%;
    }

    .wrap_btn {
        display: flex;

        .btn {
            width: 50%;
        }
    }

    .form-control {
        width: 100%;
    }

    .form-filter-type {
        height: 48px;
    }

    .form-filter-date {
        max-width: 172px;
        display: flex;
        border: 1px solid #D1D5DB;
        background: #fff;
        padding: 10.2px 16px 10.2px 14px;
        border-radius: 2px;
        position: relative;
        height: 48px;
        width: 100%;
        position: relative;

        input {
            border: 0;
            padding: 4px;
            border: none;
            outline: none;
            font-size: 16px;
            letter-spacing: 0.01em;
            font-weight: 300;
            line-height: 1.6;
            color: #7E8189;
            width: 100%;
            z-index: 1;
            background: transparent;
        }

        svg {
            position: absolute;
            right: 25px;
            z-index: 0;
        }
    }

}